---
import HomePage from '@/layouts/HomePage.astro'
import PostTitle from "@/components/PostTitle.astro";
import BlogFooter from '@/components/BlogFooter.astro'
import {getCollectionByName} from "@/utils/getCollectionByName";
import {render} from "astro:content";
import {sortPostsByDate} from "@/utils/sortPostsByDate";
import getUrl from "@/utils/getUrl";

const blogs = await getCollectionByName("blog");
const sortedPosts = sortPostsByDate(blogs);

const entry = sortedPosts[0];
const {Content, headings, remarkPluginFrontmatter} = await render(entry);

const lastModified = remarkPluginFrontmatter?.lastModified;
const readingTime = remarkPluginFrontmatter?.readingTime;

const prevPost = sortedPosts[1] ?? null;
---

<HomePage frontmatter={entry.data} headings={headings}>
  <div>
    <div class="h-8 text-skin-base">
      {
        prevPost ? (
          <a
            class="truncate w-auto max-w-[40%] float-left"
            href={getUrl('/') + prevPost.collection + '/' + prevPost.id}
            title={prevPost.data.title}
          >
            <i class="ri-arrow-left-s-fill"/>
            {prevPost.data.title}
          </a>
        ) : (
          <div/>
        )
      }
    </div>
    <PostTitle {...entry.data} lastModified={lastModified} readingTime={readingTime}></PostTitle>
    <div class="divider-horizontal"></div>
    <article class="markdown-body">
      <Content/>
    </article>
    <div class="divider-horizontal"></div>
    <BlogFooter
      title={entry.data.title}
      url={getUrl('/') + entry.collection + '/' + entry.id}
      date={entry.data.date}
    ></BlogFooter>
  </div>
</HomePage>
